/* Couleurs utilisées */
:root {
    --secondary-color: #212121;
    --tertiary-color: #f5f5f5;
    }
    #logo1{
        background-color: #212121;
    }
    /* Body */
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      h1{
        font-size: 36px;
        color: gold;
        text-shadow: 1px 1px 1px #000000;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: bold;
      }
    
    /* Header */
    header {
    background-color: var(--secondary-color);
    }


     /* Style de la navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50px;
    font-size: 14px;
    padding: 0 1em;
    }
    nav a:hover {
        background-color: #FFD700;
        color: #333;
      }
    
    .navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .navbar-item {
    margin: 0 1em;
    }
    
    nav a {
    color: #FFD700;
    text-decoration: none;
    }
    
    .logout-button {
    background-color: #FFD700;
    color: #333;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 1em;
    }
    
    .facebook-button, .panier-button {
    margin-left: 1em;
    }
    
    .welcome-message {
    color: #FFD700;
    margin-right: 1em;
    }
    
    /* Style de la div contact-info */
    .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #FFD700;
    font-size: 14px;
    }
    
    .contact-info span {
    display: inline-block;
    margin: 0 1em;
    }
    
    .contact-info i {
    margin-right: 0.5em;
    }
  
    
   /* Mise en forme générale des sections */
   section {
    padding: 50px;
    background-color: #f2f2f2;
    transition: background-color 0.5s ease-in-out;
}

section:hover {
    background-color: #e6e6e6;
}

  /* Mise en forme des titres */
  .section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
  }

  /* Mise en forme des textes */
  .section-text, .team-description {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  /* Mise en forme de la vidéo */
  .section-video {
    text-align: center;
    margin-bottom: 25px;
  }

  /* Mise en forme de la liste */
  .section-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }

  .section-list li {
    width: 200px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border: 1px black solid;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section-list li:hover {
    background-color: #555252;
    cursor: pointer;
  }

  /* Mise en forme de l'équipe */
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }

  .team-member {
    width: 300px;
    margin: 25px;
    text-align: center;
  }

  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#card {
    width: 400px;
    height: 180px;
    border: 2px solid black;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
    transition: all 0.3s;
    }
    
    #card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 10px 5px #888888;
    cursor: pointer;
    }
    
    #title {
    font-size: 36px;
    color: gold;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
    
    #content {
    font-size: 18px;
    color: #000000;
    }


  .team-member h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .team-member p {
    font-size: 18px;
    margin-bottom: 0;
  }

  section#nos-realisations {
    text-align: center;
    padding: 50px;
  }
  
  section#nos-realisations h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }
  
  section#nos-realisations p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  section#nos-realisations img {
    width: 500px;
    height: 500px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  section#nos-realisations img:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  section#nous-contacter {
    text-align: center;
    padding: 50px;
  }
  
  section#nous-contacter h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }
  
  section#nous-contacter p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination a {
    display: block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ddd;
    text-decoration: none;
    color: black;
  }

  .survey-container {
    text-align: center;
  }
  
  button.survey {
    background-color: #ffd700;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    display: inline-block;
  }
  
  button.survey:hover {
    background-color: #212121;
    color: white;
  }

  
  #securite-sur-mesure-fabrication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }
  
  #securite-sur-mesure-fabrication img {
    margin-right: 10px;
  }
  
  .securite, .sur-mesure, .fabrication-france {
    display: flex;
    align-items: center;
  }
  
  .top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
   /* Footer */
   footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #3F3F3F;
    color: #FFD700;
  }
  
  footer p, footer a {
    margin: 0 10px;
    color: #FFD700;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
  }
  
  .footer-info, .footer-contact {
    width: 45%;
    text-align: center;
  }
  
  .footer-info h3, .footer-contact h3 {
    margin-bottom: 20px;
    color: #FFD700;
  }

/* Style la fonction promotionelle */
 .message-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 30px;
    background-color: red;
    color: white;
    padding: 10px;
    border: 2px solid #FFD700;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes scroll-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}    

/* Style pour la fonction haut de page  */
.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffd700;
    color: black;
    padding: 15px;
    border: 2px solid black;
    cursor: pointer;
    z-index: 1;
}


/* Style pour le tremblement*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  h1.shake {
    animation: shake0.5s;
}

h1:hover {
animation: shake 0.5s;
}

/* Style css pour modifier la scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    border: 2px solid black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gold;
    border: 2px solid black;
  }
  
  /* Style modale*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }